/* 
Small only
@media screen and (max-width: 39.9375em) {}

Medium and up
@media screen and (min-width: 40em) {}

Medium only
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

Large and up
@media screen and (min-width: 64em) {}

Large only
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
*/

body, div, p, h1, h2, h3, h4, h5, h6, ul, li, a { /* Resets */
	padding: 0;
	margin: 0;
}

.fa {
	text-shadow: 0 0 6px white;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* Header */

@media screen and (min-width: 40em) {
	.header {
		padding: 5px 10px;
		background-color: #252839;
	}

	.header a:first-child {
		padding-right: 10%;
	}

	.header a img {
		width: 50px;
		height: auto;
	}

	.menubar ul {
		display: inline;
		position: fixed;
	}

	.menubar li {
		display: inline-block;
		width: 100px;
		padding: 20px 0;
		text-align: center;
		color: white;
		background-size: 100% 200%;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, #FC4A1A 49%);
		transition: background .4s;
	}

	.menubar .activemenu {
		border-bottom: 4px orange solid;
	}

	.menubar li:hover {
		border-bottom: 4px orange solid;
		background-position: 0 100%;
	}
}

@media screen and (max-width: 39.9375em) {
	.header {
		position: fixed;
		width: 100%;
		background-color: #252839;
		z-index: 3000;
		padding: 5px 0;
	}

	.section:first-child {
		padding-top: 50px;
	}

	.section:last-child {
		padding-bottom: 75px;
	}

	.navContent {
		z-index: 3000;
		position: fixed;
		font-family: Kayak;
		opacity: 0;
		visibility: hidden;
		top: 50px;
		transition-duration: 0.5s;
		width: 100%;
		bottom: 0;
		background-color: #252839;
		transform: translateX(-100%);
		overflow-y: auto;
	}

	.show {
		visibility: visible;
		opacity: 1;
		transform: translateX(0%);
	}

	.navContent h3 {
		font-size: 25px;
		text-align: center;
		color: #FC4A1A;
		border-bottom: 2px solid #FC4A1A;
	}

	.navContent a {
		font-size: 15px;
		color: white;
	}

	.navContent .activemenu {
		background-color: rgba(255, 255, 255, .6);
	}

	.navContent .activemenu a {
		color: black;
	}

	.navContent li {
		list-style: none;
		padding: 10px;
		text-align: center;
	}

	.show {
		opacity: 1;
		visibility: visible;
	}

	.navTrigger {
		display: inline-block;
		cursor: pointer;
		width: 30px;
		height: 25px;
		margin: 10px;
		margin-bottom: 0;
	}

	.navTrigger i {
		background-color: #fff;
		border-radius: 2px;
		content: '';
		display: block;
		width: 100%;
		height: 4px;
	}

	.navTrigger i:nth-child(1) {
		-webkit-animation:outT 0.3s backwards;
		animation:outT 0.3s backwards;
		-webkit-animation-direction:reverse;
		animation-direction:reverse;
	}

	.navTrigger i:nth-child(2) {
		margin: 5px 0;
		-webkit-animation:outM 0.3s backwards;
		animation:outM 0.3s backwards;
		-webkit-animation-direction:reverse;
		animation-direction:reverse;
	}

	.navTrigger i:nth-child(3) {
		-webkit-animation:outBtm 0.3s backwards;
		animation:outBtm 0.3s backwards;
		-webkit-animation-direction:reverse;
		animation-direction:reverse;
	}

	.active i:nth-child(1) {
		-webkit-animation:inT 0.3s forwards;
		animation:inT 0.3s forwards;
	}

	.active i:nth-child(2) {
		-webkit-animation:inM 0.3s forwards;
		animation:inM 0.3s forwards;
	}

	.active i:nth-child(3) {
		-webkit-animation:inBtm 0.3s forwards;
		animation:inBtm 0.3s forwards;
	}
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* Core */

h1 {
	font-family: Kayak;
	text-align: center;
}

h2 {
	font-family: Kayak;
	text-align: center;
}

p {
	text-align: center;
	margin: 0 10%;
}

@media screen and (max-width: 39.9375em) {
	.section {
		padding: 30px 0;
	}

	.section:first-child {
		padding-top: 80px;
	}
}

@media screen and (min-width: 40em) {
	.section {
		padding: 50px 0;
		position: relative;
	}
}

.section:nth-child(odd) {
	background-color: white;
}

.section:nth-child(even) {
	background-color: rgb(180, 180, 180);
}

.section ul {
	text-align: left;
}

.error::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0.4;
	z-index: -1;
	background: url('../img/err/error.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.usbback {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)), url('../img/usb.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 39.9375em) {
	.error h1 {
		margin-top: 60px;
		font-size: 8em;
		color: red;
		font-family: Adam;
	}

	.error h2 {
		font-size: 3em;
		color: black;
	}

	.error p {
		font-size: 1em;
		font-family: Kayak;
		color: black;
	}
}

@media screen and (min-width: 40em) {
	.error h1 {
		font-size: 20em;
		color: red;
		font-family: Adam;
		margin-top: -0.2em;
	}

	.error h2 {
		margin-top: -0.2em;
		font-size: 10em;
		color: black;
	}

	.error p {
		font-size: 3em;
		font-family: Kayak;
		color: black;
	}
}

.button {
	margin-top: 10px;
	margin-bottom: -10px;
	border-radius: 3px;
	background-color: #FC4A1A;
}

.button:hover {
	background-color: #AD2803;
}

.button:focus {
	background-color: #AD2803;
}

.os {
	margin-top: 30px;
	display: inline-block;
	padding: 20px;
	text-align: center;
	background-color: rgb(100, 100, 100);
	border: 2px solid white;
	transition-duration: .3s;
}

.os:hover {
	background-color: #252839;
	border: 2px solid #FC4A1A;
}

.os p {
	text-align: center;
	font-family: Bariol;
	font-size: 20px;
	color: white;
}

.osimg {
	width: 150px;
	height: 150px;
	margin: 5px;
}

.suggested {
	background-color: #252839;
	-webkit-animation: bounce 1s infinite;
	-moz-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

.step {
	margin: 10px;
	padding-top: 5px;
	color: white;
	text-align: center;
	font-family: Bariol;
	background-color: #FC4A1A;
	box-shadow: 0 0 3px 1px black;
	width: 55px;
	height: 55px;
	font-size: 30px;
	border-radius: 100%;
	vertical-align: middle;
}

@media screen and (max-width: 39.9375em) {
	.step {
		margin: auto;
		margin-bottom: 20px;
	}
}

.stepcontent {
	margin-top: 5px;
	text-align: left;
}

.stepcontent p {
	text-align: left;
	margin: 0;
}

.stepcontent img {
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 3px 2px black;
}

.stepcontent ul {
	margin-left: 40px;
}

.complete {
	font-size: 18px;
}

#detected {
	margin-top: 20px;
	color: green;
}

@media screen and (min-width: 40em) {
	#progressContainer {
		color: white;
		position: fixed;
		width: 220px;
		padding: 20px;
		right: 5px;
		bottom: 5px;
		text-align: center;
		background-color: rgba(50, 50, 50, 1);
		transition-duration: .5s;
		z-index: 2000;
	}
}

@media screen and (max-width: 39.9375em) {
	#progressContainer {
		color: white;
		position: fixed;
		width: 100%;
		padding: 5px;
		bottom: 0;
		text-align: center;
		box-shadow: 0 -2px 1px 0 black;
		background-color: rgba(50, 50, 50, 1);
		transition-duration: .5s;
		opacity: 0.95;
		z-index: 2000;
	}
}

#progress {
	border: 1px solid black;
	padding: 2px;
	background-color: white;
}

#percent {
	height: 10px;
	background-color: green;
	width: 0%;
	transition-duration: .5s;
}

.finished {
	background-color: rgba(0, 100, 0, 1) !important;
	-webkit-animation: bounce 1s infinite;
	-moz-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

@media screen and (min-width: 39.9375em) {
	.q, .a {
		margin-left: 20px;
	}

	.question h5 {
		margin-top: 8px;
	}
}

@media screen and (max-width: 39.9375em) {
	.q, .a {
		margin: auto;
		margin-bottom: 20px;
	}

	.question, .answer {
		text-align: center;
	}
}

.question h5 {
	font-weight: bold;
}

.answer p {
	margin: 0;
	padding: 0;
	text-align: left;
}

.q, .a {
	font-size: 28px;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	color: white;
	text-align: center;
	box-shadow: 0 0 3px 1px black;
}

.q {
	padding-top: 5px;
	padding-left: 14px;
	background-color: #FC4A1A;
}

.a {
	padding-top: 4px;
	padding-left: 14px;
	background-color: green;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* Footer */

.footer {
	padding: 60px;
	padding-top: 40px;
	background-color: #252839;
}

.footer img {
	width: 50px;
	height: auto;
}

.footer ul {
	list-style: none;
}

.footer-item {
	display: inline-block;
}

.footer-header {
	font-family: Bariol;
	color: #FC4A1A;
}

.footer-item a {
	text-decoration: none;
	color: white;
	margin-left: 20px;
}

.footer-item a:hover {
	text-decoration: underline;
}

.top {
	float: right;
	color: white;
	transition-duration: .3s;
}

.footer-icon {
	color: white;
	margin-bottom: 30px;
	transition-duration: .3s;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* Checkbox */

@media screen and (max-width: 39.9375em) {
	.checkbox-wrapper {
		margin-top: 13px;
	}
}

.styled-checkbox {
	z-index: -20;
	position: absolute;
	opacity: 0;
}
.styled-checkbox + label {
	position: relative;
	cursor: pointer;
	padding: 0;
	transition-duration: .3s;
}
.styled-checkbox + label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	width: 20px;
	height: 20px;
	background: white;
	box-shadow: 0 0 0 2px #444966;
	transition-duration: .3s;
}
.styled-checkbox:hover + label:before {
	background: #FC4A1A;
	box-shadow: 0 0 0 2px #444966;
}
.styled-checkbox:checked + label:before {
	background: #FC4A1A;
}
.styled-checkbox:hover + label:after, .styled-checkbox + label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 15px;
	background: rgba(0, 0, 0, .2);
	width: 2px;
	height: 2px;
	box-shadow: 2px 0 0 rgba(0, 0, 0, .2), 4px 0 0 rgba(0, 0, 0, .2), 4px -2px 0 rgba(0, 0, 0, .2), 4px -4px 0 rgba(0, 0, 0, .2), 4px -6px 0 rgba(0, 0, 0, .2);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.styled-checkbox:checked + label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 15px;
	background: green;
	width: 2px;
	height: 2px;
	box-shadow: 2px 0 0 green, 4px 0 0 green, 4px -2px 0 green, 4px -4px 0 green, 4px -6px 0 green;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

label {
	z-index: 0;
}