/* 
Small only
@media screen and (max-width: 39.9375em) {}

Medium and up
@media screen and (min-width: 40em) {}

Medium only
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

Large and up
@media screen and (min-width: 64em) {}

Large only
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
*/

body, div, p, h1, h2, h3, h4, h5, h6, ul, li, a { /* Resets */
	padding: 0;
	margin: 0;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* Header */

.header {
	padding: 20px;
	background-color: #252839;
}

.header a:first-child {
	padding-right: 10%;
}

.header a img {
	width: 50px;
	height: auto;
}

.menubar ul {
	display: inline;
	position: fixed;
}

.menubar li {
	display: inline;
	padding: 20px;
	text-align: center;
	color: white;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #FC4A1A 50%);
	transition: background .4s;
}

.menubar .activemenu {
	border-bottom: 4px orange solid;
}

.menubar li:hover {
	border-bottom: 4px orange solid;
	background-position: 0 100%;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* Core */

h1 {
	font-family: Kayak;
	text-align: center;
}

h2 {
	font-family: Kayak;
	text-align: center;
}

p {
	text-align: center;
	margin: 0 10%;
}

.section {
	padding: 50px 0;
}

.section:nth-child(odd) {
	background-color: white;
}

.section:nth-child(even) {
	background-color: rgb(180, 180, 180);
}

.section ul {
	text-align: left;
}

.button {
	margin-top: 10px;
	margin-bottom: -10px;
	border-radius: 3px;
	background-color: #FC4A1A;
}

.os {
	margin-top: 30px;
	display: inline-block;
	padding: 20px;
	text-align: center;
	background-color: rgb(100, 100, 100);
	border: 2px solid rgb(220, 220, 220);
	transition-duration: .3s;
}

.os:hover {
	background-color: #252839;
	border: 2px solid #FC4A1A;
}

.os p {
	text-align: center;
	font-family: Bariol;
	font-size: 20px;
	color: white;
}

.osimg {
	width: 150px;
	height: 150px;
	margin: 5px;
}

.suggested {
	background-color: #252839;
	-webkit-animation: bounce 1s infinite;
	-moz-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

.step {
	margin: 10px;
	color: white;
	text-align: center;
	font-family: Adam;
	background-color: rgba(0, 0, 0, .5);
	width: 55px;
	height: 55px;
	font-size: 30px;
	border-radius: 100%;
}

@media screen and (max-width: 39.9375em) {
	.step {
		margin: 10px auto;
	}
}

.stepcontent {
	margin-top: 5px;
	text-align: left;
}

.stepcontent p {
	text-align: left;
	margin: 0;
}

.stepcontent img {
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 2px 2px black;
}

.stepcontent ul {
	margin-left: 40px;
}

.complete {
	font-size: 18px;
}

#detected {
	margin-top: 20px;
	color: green;
}

@media screen and (min-width: 40em) {
	#progressContainer {
		color: white;
		position: fixed;
		width: 220px;
		padding: 20px;
		right: 5px;
		bottom: 5px;
		text-align: center;
		background-color: rgba(50, 50, 50, 1);
		transition-duration: .5s;
		z-index: 2000;
	}
}

@media screen and (max-width: 39.9375em) {
	#progressContainer {
		color: white;
		position: fixed;
		width: 100%;
		padding: 5px;
		bottom: 0;
		text-align: center;
		box-shadow: 0 -2px 1px 0 black;
		background-color: rgba(50, 50, 50, 1);
		transition-duration: .5s;
		opacity: 0.95;
		z-index: 2000;
	}
}

#progress {
	border: 1px solid black;
	padding: 2px;
	background-color: white;
}

#percent {
	height: 10px;
	background-color: green;
	width: 0%;
	transition-duration: .5s;
}

.finished {
	background-color: rgba(0, 100, 0, 1) !important;
	-webkit-animation: bounce 1s infinite;
	-moz-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* Footer */

.footer {
	padding: 60px;
	padding-top: 40px;
	background-color: #252839;
}

.footer img {
	width: 50px;
	height: auto;
}

.footer ul {
	list-style: none;
}

.footer-item {
	display: inline-block;
}

.footer-header {
	font-family: Bariol;
	color: #FC4A1A;
}

.footer-item a {
	text-decoration: none;
	color: white;
	margin-left: 20px;
}

.footer-item a:hover {
	text-decoration: underline;
}

.top {
	float: right;
	color: white;
	transition-duration: .3s;
}

.footer-icon {
	color: white;
	margin-bottom: 30px;
	transition-duration: .3s;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* Checkbox */

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  transition-duration: .3s;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  box-shadow: 0 0 0 2px #444966;
  transition-duration: .3s;
}
.styled-checkbox:hover + label:before {
  background: #FC4A1A;
  box-shadow: 0 0 0 2px #444966;
}
.styled-checkbox:checked + label:before {
  background: #FC4A1A;
}
.styled-checkbox:hover + label:after, .styled-checkbox + label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 15px;
	background: rgba(0, 0, 0, .2);
	width: 2px;
	height: 2px;
	box-shadow: 2px 0 0 rgba(0, 0, 0, .2), 4px 0 0 rgba(0, 0, 0, .2), 4px -2px 0 rgba(0, 0, 0, .2), 4px -4px 0 rgba(0, 0, 0, .2), 4px -6px 0 rgba(0, 0, 0, .2);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 15px;
  background: green;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 green, 4px 0 0 green, 4px -2px 0 green, 4px -4px 0 green, 4px -6px 0 green;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
